################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeBanking/obj/Debug
/HomeBanking/bin/Debug
/HomeBanking/.vs/HomeBanking/v14
/HomeBanking/packages
